### Imports

In [34]:
import pandas as pd
import numpy as np

### Data

In [35]:
people = {
    "first": ["Peter", "Robert", "Thomas"],
    "last": ["Robie", "Don", "Don"],
    "email": ["PeterRobie@gmail.com", "RobertDon@gmail.com", "ThomasDon@gmail.com"]
}

In [36]:
people

{'first': ['Peter', 'Robert', 'Thomas'],
 'last': ['Robie', 'Don', 'Don'],
 'email': ['PeterRobie@gmail.com',
  'RobertDon@gmail.com',
  'ThomasDon@gmail.com']}

In [37]:
df = pd.DataFrame(people)

In [38]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas    Don   ThomasDon@gmail.com

In [39]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

 ### Change Column(s) names

In [40]:
df.columns = ['first_name','last_name','email']

In [41]:
df

  first_name last_name                 email
0      Peter     Robie  PeterRobie@gmail.com
1     Robert       Don   RobertDon@gmail.com
2     Thomas       Don   ThomasDon@gmail.com

### Change Columns Case Using List Comprehension

In [42]:
df.columns = [x.upper() for x in df.columns]

In [43]:
df

  FIRST_NAME LAST_NAME                 EMAIL
0      Peter     Robie  PeterRobie@gmail.com
1     Robert       Don   RobertDon@gmail.com
2     Thomas       Don   ThomasDon@gmail.com

### Remove spaces using str (string)

In [44]:
# df.columns = df.columns.str.replace(' ', '_')

#df

In [45]:
df

  FIRST_NAME LAST_NAME                 EMAIL
0      Peter     Robie  PeterRobie@gmail.com
1     Robert       Don   RobertDon@gmail.com
2     Thomas       Don   ThomasDon@gmail.com

### Change columns to Lower case

In [46]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                 email
0      Peter     Robie  PeterRobie@gmail.com
1     Robert       Don   RobertDon@gmail.com
2     Thomas       Don   ThomasDon@gmail.com

### Rename columns and include "inplace=True" to make it effective

In [47]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [48]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas    Don   ThomasDon@gmail.com

## Update Data in Rows

In [49]:
# updating the last row
# print to confirm the last row
df.loc[2]

first                 Thomas
last                     Don
email    ThomasDon@gmail.com
Name: 2, dtype: object

In [50]:
# df.loc[2] = ['Thomas', 'Kennedy', 'ThomasKennedy@gmail.com']

In [51]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas    Don   ThomasDon@gmail.com

In [52]:
df.loc[2, ['last','email']]

last                     Don
email    ThomasDon@gmail.com
Name: 2, dtype: object

In [53]:
df.loc[2, ['last','email']] = ['Kennedy', 'ThomasKennedy@gmail.com']

In [54]:
df

    first     last                    email
0   Peter    Robie     PeterRobie@gmail.com
1  Robert      Don      RobertDon@gmail.com
2  Thomas  Kennedy  ThomasKennedy@gmail.com

In [55]:
df.loc[2, ['last','email']] = ['Don', 'ThomasDon@gmail.com']

In [56]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas    Don   ThomasDon@gmail.com

### Change a single value

In [57]:
df.loc[2, 'last'] = 'Smith'

In [58]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas  Smith   ThomasDon@gmail.com

### Change using '.AT'

In [59]:
df.at[2, 'last'] = 'Don'

In [60]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas    Don   ThomasDon@gmail.com

## Setting With Copy Warning

In [65]:
filt = (df['email'] == "ThomasDon@gmail.com")
df[filt]['last']  = 'Smith'

/tmp/ipykernel_22795/2233772575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last']  = 'Smith'

In [66]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas    Don   ThomasDon@gmail.com

### Correction of Copy with Warning Error above

In [67]:
filt = (df['email'] == "ThomasDon@gmail.com")
df.loc[filt, 'last']  = 'Smith'

In [68]:
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas  Smith   ThomasDon@gmail.com

### Lower Case Email

In [70]:
# try to check if there are any changes. ??
df['email'].str.lower()

0    peterrobie@gmail.com
1     robertdon@gmail.com
2     thomasdon@gmail.com
Name: email, dtype: object

In [71]:
# No changes on the DataFrame
df

    first   last                 email
0   Peter  Robie  PeterRobie@gmail.com
1  Robert    Don   RobertDon@gmail.com
2  Thomas  Smith   ThomasDon@gmail.com

In [72]:
# Effective changes
df['email'] = df['email'].str.lower()

In [73]:
df

    first   last                 email
0   Peter  Robie  peterrobie@gmail.com
1  Robert    Don   robertdon@gmail.com
2  Thomas  Smith   thomasdon@gmail.com

### Using Apply function

In [74]:
df['email'].apply(len)

0    20
1    19
2    19
Name: email, dtype: int64

In [75]:
def update_email(email):
    return email.upper()

In [76]:
df['email'].apply(update_email)

0    PETERROBIE@GMAIL.COM
1     ROBERTDON@GMAIL.COM
2     THOMASDON@GMAIL.COM
Name: email, dtype: object

In [77]:
# change email addresses on the dataframe
df['email'] = df['email'].apply(update_email)

In [78]:
df

    first   last                 email
0   Peter  Robie  PETERROBIE@GMAIL.COM
1  Robert    Don   ROBERTDON@GMAIL.COM
2  Thomas  Smith   THOMASDON@GMAIL.COM

## Using Lambda Expression

In [80]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [81]:
df

    first   last                 email
0   Peter  Robie  peterrobie@gmail.com
1  Robert    Don   robertdon@gmail.com
2  Thomas  Smith   thomasdon@gmail.com